:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $blue-dark;
  color: $green-text;
  text-align: left;
}

::-webkit-scrollbar {
  background-color: $green-gray;
  width: 0.5em;
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

section,
footer {
  padding: 7em 0.5em;
}

%title {
  text-transform: uppercase;
}
.section-title {
  //color: $black;
  //color: white;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 0.3em;
}

.section-subtitle {
  @extend %title;
  color: $gray-dark;
  font-weight: 400;
  font-size: 1rem;
  //letter-spacing: 3.5px;
  //word-spacing: 2px;
  margin-top: 0.8em;
  opacity: 0.7;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  line-height: 1.7;
  margin-top: 1em;
}

.text {
  color: $gray-dark;
  max-width: 800px;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto;
  opacity: 0;
  line-height: 1.6;
  text-align: center;
  margin-top: 0.4em;
  @include animation-slide-up(0.4s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -2px;
}

button,
a {
  font-family: "Montserrat", sans-serif;
}
