:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $blue-dark;
  color: $green-text;
  text-align: left;
}

::-webkit-scrollbar {
  background-color: $green-gray;
  width: 3px;
  margin: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

section,
footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 5em 20px;
}

main {
  //background-color: $blue-dark;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   bottom: 70%;
  //   left: 75%;
  //   width: 350vw;
  //   height: 400vw;
  //   margin-left: -120rem;
  //   margin-left: -200vw;
  //   z-index: -1;
  //   border-radius: 50%;
  //   background-color: #2e3445;
  //   box-shadow: none;

  // background-image: url(../../img/starwheel.svg?1418951467);
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-position: center center;
  // -webkit-animation-name: orbit;
  // animation-name: orbit;
  // -webkit-animation-duration: 1000s;
  // animation-duration: 1000s;
  // -webkit-animation-iteration-count: infinite;
  // animation-iteration-count: infinite;
  // -webkit-animation-timing-function: linear;
  // animation-timing-function: linear;
  //}
}

%title {
  text-transform: uppercase;
}
.section-title {
  //color: $black;
  //color: white;

  position: relative;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 0.2em;
}

.section-subtitle {
  @extend %title;
  color: $gray-dark;
  font-weight: 400;
  font-size: 1rem;
  //letter-spacing: 3.5px;
  //word-spacing: 2px;
  margin-top: 0.8em;
  opacity: 0.7;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 1em;
}

.text {
  color: $gray-dark;
  max-width: 800px;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 auto;
  opacity: 0;
  line-height: 1.6;
  margin-top: 8px;
  @include animation-slide-up(0.4s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -2px;
}

button,
a {
  font-family: "Montserrat", sans-serif;
}
