.section-footer {
  position: relative;
  //background-color: $green-dark;
  padding: 0;

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__gotop {
  width: 70px;
  height: 70px;
  position: relative;
  margin-bottom: 2em;

  a {
    text-decoration: none;
    color: $blue-dark;
    background-color: $green-text;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include transition;
    &:hover {
      background-color: $green-hover;
    }
  }
  span {
    cursor: pointer;

    @include transition;
    &::before {
      content: "🔝";
      text-align: center;
      color: $blue-dark;
      font-size: 2rem;
      @include transition;
    }
  }
  &:hover span::before {
  }
}

.footer__copyright p {
  color: #525e65;
  font-size: 0.8em;
  letter-spacing: 0;
  margin-bottom: 5em;
  margin-top: 0em;
}
