.section-footer {
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 120rem;
    width: 200vw;
    height: 120rem;
    height: 200vw;
    margin-left: -60rem;
    margin-left: -100vw;
    z-index: -1;
    border-radius: 50%;
    background-color: #2e3445;
  }

  position: relative;
  //background-color: $green-dark;
  padding: 0;

  .container {
    padding-top: 2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__gotop {
  width: 70px;
  height: 70px;
  position: relative;
  margin-bottom: 2em;

  a {
    text-decoration: none;
    color: $blue-dark;
    background-color: $green-text;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include shadow;
    @include transition;
    &:hover {
      background-color: $green-hover;
    }

    .fa {
      margin: 0;
    }
  }
}

.footer__copyright p {
  color: #525e65;
  font-size: 0.8em;
  letter-spacing: 0;
  margin-bottom: 5em;
  margin-top: 1.5em;
}
