main {
  height: 100vh;
  background-color: aqua;
  margin: 0;
}
.hero {
  position: relative;

  height: 100%;
  background-color: $green-dark;
  // background-image: url("../images/land-mount.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // //background-blend-mode: color-burn;
  // background-blend-mode: exclusion;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  max-width: 800px;
  padding: 1em;
  margin: 12% auto 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);

  * {
    display: inline-block;
  }
}
.hero-text {
  margin-bottom: 22%;
}

.hero-title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1.5px;
  font-weight: 700;
  font-size: 1em;
  color: white;
  opacity: 0;
  line-height: 0.9em;
  pointer-events: none;
  margin-top: 2em;
  margin-bottom: 0.25em;
  //text-transform: uppercase;
  @include animation-slide-up(0s);

  @include mobile {
    font-size: 1.6em;
  }

  @include tablet {
    font-size: 1.8em;
  }
}
.hero-subtitle {
  position: relative;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0px;
  //color: $gray-blue;
  color: $gray-blue;

  opacity: 0;
  width: 90%;
  //text-transform: uppercase;
  line-height: 1.6;
  @include animation-slide-up(0.2s);
}

#hero-button {
  opacity: 0;
  @include animation-slide-up(0.4s);
}
