.case-study-section {
  //background-color: $gray;

  .case-title {
    //color: $black;
    font-weight: 800;
    font-size: 1.5rem;
  }
  p {
    //color: $green-text;
  }
  .project__container {
    padding: 0em 0.5em;
    max-width: 800px;
    margin: 8em auto 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    row-gap: 2.8em;
    column-gap: 2.8em;
    counter-reset: slide-number;

    .item {
      height: 240px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      //border-radius: 4px;
      background-color: $blue-light;
      box-shadow: 8px 10px 0px rgba(2, 12, 27, 0.4),
        inset 8px 10px 10px rgba(2, 12, 27, 0.4);
      counter-increment: slide-number;
      transition: all 0.3s;

      &::before {
        display: none;
        content: counter(slide-number);
        position: absolute;
        left: 8px;
        top: -18px;
        font-size: 5rem;
        color: rgba(255, 255, 255, 0.2);
        z-index: 2;
      }

      &:hover {
        //transform: translateY(-8px);
      }

      &:hover .item__header {
        transform: translateY(0px);
        opacity: 1;
        //background-color: rgba(10, 10, 10, 0.7);
      }
      &:hover .item__header > h3 {
        opacity: 0;
      }
      &:hover p {
        transform: translate(0, -28px);
      }
      &:hover .item__list {
        opacity: 1;
        transform: translateY(-20px);
        transition: transform 0.225s cubic-bezier(0.65, 1.55, 0.5, 1.3) 0.3s,
          opacity 0.1s ease-out 0.3s;
      }

      &:hover .item__image {
        //transform: scale(1.1);
      }
    }

    h3 {
      color: $gray-dark;
      background-color: aliceblue;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      //height: 10%;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: -1px;
      text-transform: uppercase;
      user-select: none;
      padding: 0.4em 1em;
      // transition: opacity 0.2s;
      z-index: 9;
    }
    .item__header {
      margin-top: 1em;
      width: 100%;
      height: 100%;
      padding: 5em 0 1em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(10, 10, 10, 0.8);
      //border-top: 1px solid #d8d8d8;
      transform: translateY(-100%);
      opacity: 0;
      text-align: center;
      z-index: 2;
      //transition: opacity 0.1s linear, transform 0.125s ease-out; //$transition-func;
      transform-style: flat;
      transition: opacity 0.15s ease-out,
        transform 0.25s cubic-bezier(0, 0.75, 0, 1);

      p {
        opacity: 1;
        margin: 2px 0em 10px;
        //color: black;
        text-transform: capitalize;
        user-select: none;
        transform: translateY(0px);
        transition: opacity 0.3s $transition-func,
          transform 0.2s $transition-func;
      }
    }
  }
  .item__image__wrapp {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 90%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75) inset;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      //background-color: red;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.75) inset;
    }
  }

  .item__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1;
    @include transition;
  }
}

.animate {
  animation: card-show 0.3s ease-out;
}

.item__list {
  list-style: none;
  display: none;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  padding: 0 1em;
  //background-color: white;
  opacity: 1;
  transform: translateY(0px);
  //transition: transform 0.2s $transition-func, opacity 0.2s $transition-func;
  // transition: transform 0.225s cubic-bezier(0.65, 1.55, 0.5, 1.3) 0.3s,
  //   opacity 0.1s ease-out 0.3s;

  li {
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    background-color: $green-light;
    color: $green-middle;
    border-radius: 4px;
  }
  li + li {
    margin-left: 0.5em;
  }

  &--links {
    @extend .item__list;
    display: flex;
    padding: 1em 2em;
    justify-content: space-between;
    opacity: 0;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      background-color: inherit;
      padding: 0;
      margin: 0;

      .fa {
        color: $green-dark;
        margin-right: 0.4em;
        font-size: 1rem;
      }
    }
  }
}

@keyframes card-show {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@for $index from 2 to 9 {
  .item-container:nth-child(#{$index}) {
    animation-delay: 0; //(0.1s * $index) - 0.1s;
  }
}

.case-study-section .item.appear {
  opacity: 1;
  transform: translateY(0);
}
