@import "global";
@import "fonts";

:root {
  box-sizing: border-box;
  //font-size: 0.75em;
  -webkit-font-smoothing: antialiased;
}

//========================
// Scrollbar customization
//========================

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: $gray-text;
  border-radius: 0px;
}

//=============
// Reset styles
//=============

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}
body {
  //font-family: "Noto Sans SC", sans-serif;
  font-family: "Poppins", sans-serif;
  //font-family: "Alumni Sans", sans-serif;
  //font-family: "Futura";
  letter-spacing: 0.2px;
  //font-family: "Mulish", sans-serif;
  //font-family: "Montserrat", sans-serif;
  //font-family: "Bebas Neue", cursive;
  //font-family: "Roboto", sans-serif;
  //font-family: "Josefin Sans", sans-serif;
  //    font-family: "Mulish", sans-serif;
  //font-family: "Open Sans", sans-serif;
  //font-family: "Vidaloka", serif;
  //font-family: "Gothic", sans-serif;
  line-height: 1.4;
  position: relative;
  color: $gray;
}

// Limit content size on large screen
.container {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1.5em;
}

// Double countainer styles
section,
header,
footer {
  //margin: 0;
  padding: 1.5em 1.5em;
}

// @media (min-width: 800px) {
// 	:root {
// 		font-size: 0.875em;
// 	}
// }
// @media (min-width: 1200px) {
// 	:root {
// 		font-size: 1em;
// 	}
// }

// @media (min-width: 1280px) {
// 	.container {
// 		//padding: 2vw 0;
// 	}
// }

/* ========================= 
 Mobile Styles: 0px to 480px 
 =========================== 
*/
// Hero main title
.main-title {
  position: relative;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 6px;
  color: white;
  perspective: 500px;
  line-height: 0.9em;
  pointer-events: none;
  text-transform: uppercase;

  span {
    display: inline-block;
    position: relative;
    opacity: 1;
  }
}

// Hero introduction text
.subtitle {
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 3px;
  color: $gray-text;
  margin-top: 2em;
  width: 100%;
  opacity: 0;
  text-transform: uppercase;
}

// Sections main titles
.section-title {
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 2px;
  color: $black-2;
  line-height: 0.9em;
  text-transform: uppercase;
  transition: opacity 1s $transition-func, transform 1s $transition-func;

  &::before {
    display: none;
    content: "";
    position: absolute;
    bottom: -0.25em;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $green-medium;
  }
}
// Section sub title
.section-subtitle {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 3.5px;
  word-spacing: 2px;
  color: $black;
  margin-top: 0.8em;
  opacity: 0.7;
}

// Projects item title
.text-title {
  font-weight: 800;
  font-size: 2.5rem;
  color: $black;
  position: relative;

  &::before {
    content: "";
    display: none;
    position: absolute;
    bottom: -0.25em;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: white;
  }
}

// Text default styles
p {
  font-size: 0.9em;
  color: white;
  font-weight: 300;

  letter-spacing: 1px;
  line-height: 1.7;
}
p + p {
  margin-top: 1em;
}

// Section title container styles
.title-container {
  max-width: 580px;
  margin: 0 auto;
  padding: 2em 0 0;
  margin-bottom: 1em;
  text-align: center;

  p {
    margin-top: 2em;
  }
}

//=============
// Links style
//=============

.link {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 0em;
  transition: color 0.2s $transition-func;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0px;
    background-color: $gray;
    transform-origin: top right;
    transform: scaleX(0);
    transition: transform 0.2s $transition-func;
  }
  &:hover::before {
    transform-origin: top left;
    transform: scaleX(1);
  }
  &:hover {
    color: $myThemeColor;
  }

  &--top {
    @extend .link;
  }
  &--case {
    @extend .link;
    font-size: 0.8rem;
    font-weight: 500;
    color: $black;
    &::before {
      background-color: $myThemeColor;
    }
  }
  &--footer {
    @extend .link;
    font-size: 0.8rem;
    font-weight: 600;
    display: inline-block;
  }
}

//=====================
// Top nav links styles
//=====================

.top-menu {
  list-style-type: none;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  text-align: right;
  padding: 0;

  li {
    padding: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li + li {
    margin-left: 2.5em;
  }
}

//======================
// Header section styles
//======================

header {
  width: 100%;

  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $black;
  color: $green-light;
  transition: all 0.4s ease-out;
  padding: 0;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: blanchedalmond;
    padding: 1.5em 1.5em 0.4em;
    margin: 0 auto;
  }
}

// Header onscroll change styles
.slide {
  transform: translateY(-20px);
  background: $black;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
  color: $orange;

  & div#burger > span {
    //background-color:  $black;
    transition: all 0.35s ease;
  }
}

//====================
// Hero section styles
//====================

.hero-section {
  width: 100%;
  background-color: $black;
  perspective: 1000px;

  .container {
    height: 95vh;
    text-align: center;

    .headline-col-wrapper {
      max-width: 550px;
      display: flex;
      position: relative;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding-top: 22vh;
      text-align: center;
      margin: 0 auto;
      opacity: 1;
      transition: transform 0.6s $transition-func 0s;
    }
  }

  .button-container {
    padding: 2.5em 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    opacity: 0;

    * + * {
      margin-left: 1em;
    }
  }

  // .zoom-out {
  // 	transform: scale(0.7);
  // 	transition: transform 0.3s  $transition-func 0s;
  // }
  // a {
  // 	text-decoration: none;
  // }
}

//==============
// Button styles
//==============

.button {
  display: inline-block;
  font-weight: 400;
  font-size: 0.9em;
  padding: 1em 2em;
  letter-spacing: 0.5px;
  //color: white;
  text-decoration: none;
  //overflow: hidden;
  //border: 1px solid $myThemeColor;
  position: relative;
  z-index: 1;
  //transition: color 0.2s $transition-func;
  //text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &::before {
    display: none;
    content: "";
    position: absolute;
    left: -5%;
    bottom: 0;
    width: 110%;
    height: 100%;
    background-color: $myThemeColor;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: left top;
    transition: transform 0.2s $transition-func;
  }

  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.18);
  }
  &:hover::before {
    transform-origin: left bottom;
    transform: scaleY(1);
  }

  &--email {
    @extend .button;
    padding: 1em 2em;
    //border-color: white;
    &::before {
      background-color: white;
      width: 110%;
    }
    &:hover {
      //color: $black;
    }
  }

  &--resume {
    @extend .button;
    font-size: 0.8rem;
    //font-weight: 600;
    padding: 0.6em 1.8em;
  }
}

.button--down {
  display: inline-block;
  font-size: 2rem;
  //position: absolute;
  //top: 2em;
  margin-top: 1em;
  padding: 0.2em 0.5em;
  border-radius: 50%;

  color: $myThemeColor;
  transition: color 0.2s $transition-func;
  overflow: hidden;

  transition: transform 0.2s ease;

  span {
    display: inline-block;
    animation: slide 4s ease infinite;
  }
  &:hover {
    color: white;
  }
  &:hover span {
    transform: translateY(0);
    animation: none;
  }
}

//===============================
// Skills section styles - Hidden
//===============================

.section-skills {
  display: none;
  width: 100%;
  position: relative;

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 3em 3em;
    text-align: center;
    background-color: $black;
  }
}

//=====================
// About section styles
//=====================

.about-section {
  background-color: $myThemeColorSecond;
  width: 100%;
  //height: 100vh;
  padding: 4em 2em;
  margin: 0;

  .title-container {
    //display: none;
  }
  .container {
    margin: 0 auto;
    //width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    transition: opacity 1s $transition-func, transform 1s $transition-func;

    .about__image {
      padding: 0;
      margin-top: 2em;
      margin-bottom: 0em;
      position: relative;
      perspective: 1000px;
      text-align: center;
      z-index: 0;
      border-radius: 50%;
      background-color: $myThemeColorSecond;
      //background-image: url(../images/me-01.JPG);
      // background-size: 210px;
      // background-position: top right;
      // background-repeat: no-repeat;

      transition: all 0.3s $transition-func;

      &::before {
        display: none;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 25, 51, 1);
        transform: scaleY(1);
        transform-origin: left bottom;
      }

      img {
        width: 200px;
        border-radius: 50%;
        filter: brightness(1.2) grayscale(0.3) opacity(0.8);
      }
    }

    .about__social {
    }
    .about__info {
      z-index: 1;
      text-align: center;
      max-width: 650px;

      h3 {
        color: $black;
        text-transform: capitalize;
      }
      p {
        margin-top: 1em;
      }
      p.language {
        color: $black-2;
        font-weight: 600;
        font-size: 0.8em;
        letter-spacing: 3px;
        position: relative;
        margin-top: 2em;
        text-transform: uppercase;
        opacity: 0.8;

        z-index: 1;

        &::before {
          display: none;
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 4px;
          background-color: $orange;
          z-index: -1;
          transform: scaleX(1);
          transform-origin: left;
          animation: slide 5s $transition-func infinite 1s;
        }
      }
    }
    a {
      margin-top: 2em;
    }
  }
}

// Language flags styles
.language__item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  //animation: squeez 0.5s linear infinite alternate;

  & + img {
    //margin-left: -0px;
    display: none;
    width: 40px;
    height: 25px;
    position: absolute;
    opacity: 1;
    transform: translate(-40px, -25px);
    //transition: transform 0.2s ease-out, opacity 0.2s ease;
    animation: squeez 0.8s linear infinite alternate;
  }
  &:hover + img {
    opacity: 1;
  }
}

//========================
// Projects section styles
//========================

// .case-study-section {
// 	//text-align: center;
// 	//background-color: transparent;
// 	//background-color: rgb(49, 47, 47);
// }

//=======================
// Contatc section styles
//=======================

.section-contact {
  display: none;
  background-color: $black;
  width: 100%;

  .container {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 570px));
  }

  .form-container {
    width: 50%;
    margin: 0 auto;
    //background-color: bisque;
    position: relative;
    padding-bottom: 2em;
  }

  form {
    margin: 0em 0em 0em;
    text-align: left;
    max-width: 800px;
    position: relative;
  }
  input,
  textarea,
  label {
    display: block;
    margin-bottom: 0.2em;
    outline: none;
  }
  input,
  textarea {
    width: 100%;
    background-color: white;
    margin-bottom: 1em;
    border: none;
    color: $myThemeColor;
    //border-radius: 20px;
    padding: 0.5em 1.2em;
    font-family: "Heebo", sans-serif;
    font-size: 1em;
  }

  label {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
  }
}

//======================
// Social section styles
//======================

.social-section {
  background-color: $myThemeColorSecond;
  padding: 4em 2em;

  .container {
    margin: 0 auto;
    padding-bottom: 2em;
    width: 100%;
    text-align: center;
    transition: opacity 1s $transition-func, transform 1s $transition-func;

    .title-wrapper {
      text-align: center;
    }

    a.button {
      margin-top: 1em;
    }
  }
}

.social__list {
  margin: 5em auto 0em;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    border-radius: 10px;
    font-size: 1.5rem;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s $transition-func,
      background-color 0.2s $transition-func;

    &:hover {
      transform: translateY(-8px);
    }
    &:hover .fa {
      color: white;
    }
  }
  li + li {
    margin-left: 0.5em;
  }

  &--about {
    @extend .social__list;
    margin: 0em auto 2em;
  }
}
.fa {
  color: $white;
  transition: color 0.2s ease-out;
}

//======================
// Footer section styles
//======================

.section-footer {
  position: relative;
  background-color: $black;

  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    padding-top: 4em;

    .footer__nav {
      width: 100%;
    }
    .footer__list {
      list-style-type: none;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      justify-content: center;
      //margin: 2em;

      li {
        //display: block;
        padding: 0.5em;
      }
      li + li {
        margin: 0em;
      }
    }
  }
  .footer__gotop {
    width: 1.5em;
    height: 1.5em;
    position: relative;

    span {
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      left: 0px;
      top: 0px;
      border-left: 3px solid white;
      border-top: 3px solid white;
      transform: rotate(45deg);
      cursor: pointer;
      transition: all 0.2s ease-out; // cubic-bezier(0.2, 0.9, 0.3, 1.5);

      &::before {
        content: "home";
        position: absolute;
        font-size: 0.7rem;
        left: 2px;
        color: white;
        bottom: -10px;
        width: 1.5em;

        transform: rotate(-45deg);
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.2s ease-out; // cubic-bezier(0.2, 0.9, 0.3, 1.5);
      }
    }
    &:hover span::before {
      opacity: 1;
      color: white;
      transform: translateY(0) rotate(-45deg);
      //transition: all 0.2s cubic-bezier(0.2, 0.9, 0.3, 1.5);
    }
    &:hover span {
      border-color: $myThemeColor;
      transform: translateY(-10px) scale(1.2) rotate(45deg);
      transition: all 0.2s ease-out;
    }
  }
  p {
    color: $gray;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    //font-style: italic;
    margin-top: 1em;
    opacity: 0.5;
  }
  a {
    text-decoration: none;
  }
}
.logoMain {
  display: none;
  font-family: "Carattere", cursive;
  font-size: 1.5rem;
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.logo-m {
  //display: inline-block;
  font-family: "Open sans", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.2em 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);

  z-index: 10000;
  text-decoration: none;
  perspective: 400px;
  transition: color 0.2s;

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  span {
    padding: 0;
    transform: translateY(-2px);
  }

  &:hover {
    color: white;
  }
  &::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0);
    //background-color: red;

    z-index: -1;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: background-color 0.2s;
  }

  &:hover::before {
    transform-origin: left;
    background-color: rgba(255, 255, 255, 0.18);
  }
}
//===================
// circle text styles
//===================

// circle is hidden
.circle {
  display: none;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: transform 2s ease;
}
.circle__logo {
  width: 200px;
  height: 200px;
  background-color: $myThemeColorSecond;
  background-image: url(../images/me-01.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.1) grayscale(0.5);
  border-radius: 50%;
}
.circle__text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotatetext 22s linear infinite;

  span {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    transform-origin: 0px 100px;
    color: antiquewhite;
  }
}
@keyframes rotatetext {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//====================
// Loading page styles
//====================

.loadpage__container {
  position: fixed;
  //display: none;
  background-color: $myThemeColor;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800px;
    font-size: 2rem;
    perspective: 500px;
    animation: loader 2s ease infinite alternate;
    //animation-fill-mode: backwards;
  }
}

@for $index from 1 to 7 {
  .loadpage__container > span:nth-child(#{$index}) {
    animation-delay: (0.01s * $index);
  }
}

@keyframes slide-up {
  100% {
    transform-origin: left bottom;
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) rotateY(50deg);
  }
  100% {
    transform: scale(1) rotateY(50deg);
  }
}

// @for $index from 2 to 15 {
// 	.headline-chars:nth-child(#{$index}) {
// 		//animation-delay: (0.2s * $index);
// 	}
// }
// @keyframes rotate-headline {
// 	0% {
// 		transform: translateX(-30px);
// 		color: white;
// 		//opacity: 0;
// 	}
// 	100% {
// 		transform: translateX(0px);
// 		//opacity: 1;
// 		color:  $myThemeColor;
// 	}
// }
// @keyframes fade-up {
// 	0% {
// 		transform: translateY(0px);
// 		opacity: 1;
// 	}

// 	100% {
// 		transform: translateY(-600px);
// 		opacity: 0;
// 	}
// }
// @keyframes vibe-headline {
// 	0% {
// 		transform: translateX(0px);
// 	}
// 	10% {
// 		transform: translateX(-1px);
// 	}
// 	100% {
// 		opacity: 1;
// 		transform: translateX(0px);
// 	}
// }
// .disapper {
// 	opacity: 0;
// 	transition: all 0.4s ease-out;
// }
// .disappear .button {
// 	transform: translateY(-100px);
// 	opacity: 0;
// 	transition: all 0.5s ease-out;
// }
@keyframes slide-back {
  0% {
    transform-origin: left;
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(0);
    transform-origin: left;
  }
  40% {
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    transform-origin: right;
    transform: scaleX(1);
  }
}

@keyframes slide-image {
  0% {
    background-image: url(../images/me-02.jpg);
    //opacity: 0;
  }
  50% {
    background-image: url(../images/me-02.jpg);
    //opacity: 1;
  }
  51% {
    background-image: url(../images/me-01.JPG);
    //opacity: 0;
  }

  100% {
    background-image: url(../images/me-01.JPG);
    //opacity: 1;
  }
}
@keyframes squeez {
  0% {
    transform: scale(1) translate(-40px, -25px);
  }

  100% {
    transform: scale(1.1) translate(-40px, -25px);
  }
}

@for $index from 2 to 15 {
  .logo-m > span:nth-child(#{$index}) {
    animation-delay: (0.03s * $index);
  }
}

@keyframes logo-anim {
  0% {
    transform-origin: top;
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform-origin: bottom;
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    transform-origin: bottom;
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slide {
  0% {
    transform-origin: top;
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform-origin: bottom;
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    transform-origin: bottom;
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slide-2 {
  0% {
    opacity: 0;
    //transform-origin: left;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    //transform-origin: left;
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes title-anim {
  0% {
    transform: translateZ(0px) rotateY(0);
    color: orange;
  }
  50% {
    color: navy;
    transform: translateZ(30px) rotateY(0deg);
  }

  100% {
    transform: translateZ(0) rotateY(0deg);
    color: red;
  }
}

//-------------------------------------------------

.bounce-enter-active {
  animation: bounce-in 1.5s infinite;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.move {
  animation: move 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ============================== 
 Tablet Styles: 481px and greater 
 ================================ 
*/
@media only screen and (min-width: 481px) {
  :root {
    font-size: 1em;
  }
  section {
    //padding: 3em;
  }

  .main-title {
    font-size: 2.5em;
  }

  .section-title {
    //font-size: 2em;
  }

  .language__item {
    & + img {
      //display: inline-block;
    }
  }
}
/* =============================== 
 Desktop Styles: 769px and greater 
 ================================= 
*/
@media only screen and (min-width: 769px) {
  :root {
    //font-size: 1em;
  }
  .section {
    //  padding: 3em 1.5em;
  }

  .main-title {
    font-size: 3em;
  }
  .section-title {
    //font-size: 2em;
  }

  p {
    //font-size: 1rem;
  }

  .top-menu {
    display: flex;
  }

  .section-header {
    position: fixed;
  }
  .hero-section {
    margin: 0 auto;
    .container {
      .headline-col-wrapper {
        padding-top: 32vh;
      }
    }
  }
  .about-section {
    //padding: 5em 0 7em;
    // padding: 3em 0;
    // //height: 100vh;
    // .container {
    //   padding: 4em 1.5em 3em;

    //   //display: grid;
    //   //grid-template-columns: 1fr 2fr;

    .about__info {
      margin: 0 auto;
    }
    // }
  }

  .social-section {
    //padding: 5em 5.5em 5em;
    .social__list {
      li {
        //font-size: 1.5rem;
        //padding: 1em;
      }
    }
  }

  .section-footer {
    .container {
      //padding: 5.5em 1em;
      .footer__nav {
        text-align: center;
      }
      .footer__list {
        max-width: 600px;
        flex-direction: row;
        display: flex;
        margin: 1em auto;
        justify-content: space-evenly;
        align-items: center;
        li + li {
          //margin-left: 4em;
          margin-top: 0;
        }
      }
    }
  }
}

/* ================================= 
 Desktop Styles: 769px and greater 
 ================================= 
*/
@media only screen and (min-width: 1041px) {
}
