.section-widget {
  padding: 70px 0 100px;
  background-color: transparent;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.89em;
    padding: 0 1em;
    color: #222;
  }

  .card {
    margin-top: 30px;
  }
  .card:hover .card-icon {
    border-color: transparent;
  }

  h6 {
    color: white;
  }

  p {
    color: white;
    font-weight: 400;
  }

  .card-icon {
    background-color: transparent;

    span {
      color: white;
    }
  }
}

footer {
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.25);

  .container {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    font-weight: 400;
    font-size: 14px;

    a,
    i {
      color: $red;
      font-weight: 300;
      font-size: 14px;
    }
  }

  .footer-social {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      text-align: center;
      line-height: 30px;
      color: white;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        background-image: $gradient;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        @include transition;
      }

      &:hover::after {
        opacity: 1;
      }

      &:hover {
        border: none;
      }

      i {
        font-size: 14px;
      }
    }
  }
}
