.section-hero {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;

  header {
    .container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 30px 0;
    }
  }
  .row {
    height: 600px;
  }
}
