@import "global";

:root {
  box-sizing: border-box;
  font-size: 20px;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 0.35em;
}

/* change scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

body {
  line-height: 1.2;
  font-family: sans-serif;
  background-color: $creame;
}

section {
  width: 100%;
  background-color: aqua;
  padding: 0;
  display: flex;
}
.calendar {
  width: 100%;
  background: $creame;
  margin: 0em auto;

  //box-shadow: rgb(160,160,160) 1px 1px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year-header {
  width: 100%;
  border-bottom: 1px solid silver;
  font-weight: 200;
  font-size: 1em;
  position: relative;
  background-color: $creame;
  color: black;
  padding: 0.7em 2em;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .app-title {
    font-size: 1em;
    //font-weight: 600;
    color: $gray;
    margin-right: 3em;
  }

  .current-year {
    cursor: pointer;
    margin-left: 3em;
    font-size: 0.9em;
    transition: all 0.4s ease-out;

    &:hover {
      text-decoration: underline;
    }
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -0.1em;
    left: 0;
    background-color: $red;
  }
  .today {
    border: 5px solid $red;
    font-size: 0.6em;
    font-weight: 600;
    padding: 0.1em 0.5em;
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin-left: auto;
    color: $red;
  }

  .time {
    display: none;
    font-size: 1em;
  }
}

.year-container {
  width: 100%;
  height: 91vh;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  align-items: stretch;
  margin: 0em 0em 0em;
  background-color: $creame;
  border-radius: 50px;
  padding: 1em 2em;
}

//month view styles starts
.year-container--expand {
  //height: 80vh;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  //background-color: transparent;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.year-container--expand::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.year-container--expand .month-container {
  width: 90vw;
  height: 100%;
  padding: 0em 5em;
  margin-top: 0;
  scroll-snap-align: center;
}

.year-container--expand td {
  height: 3.1em;
}

.year-container--expand caption {
  margin-left: 0.15em;
  width: auto;
}

.year-container--expand div.days {
  //width: 45px;
  //height: 35px;
}

.year-container--expand .calendar_table {
  width: 100%;
  //height: 100%;
}

//month view styles ends here

.month-container {
  margin: 0.5em auto;
  padding: 0em;
  width: 200px;

  .calendar_table {
    border-collapse: collapse;
    margin: 0 auto;
    cursor: pointer;
  }
}

th,
td {
  font-size: 0.6em;
  width: 50px;
  text-align: center;
}

td.empty {
  background-color: $creame;
}

td.calendar-dates {
  color: black;
  text-align: center;
}

td#calendar-today {
  //background-color: salmon;
}

th {
  color: gray;
  font-weight: 500;
  letter-spacing: 0.4px;
  height: 2.6em;
}

td {
  height: 1.65em;
}

td.active {
  border: 1px solid $red;
}

caption {
  caption-side: top;
  text-align: left;
  font-size: 0.6em;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0.3em auto;
  position: relative;
  padding-left: 0.3em;
  color: gray;
}

.year {
  position: absolute;
  font-size: 1.2em;
  display: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -0.1em;
    left: 0;
    background-color: rgb(226, 36, 36);
  }
}

table a {
  text-decoration: none;
  color: rgb(41, 86, 172);
  font-weight: bold;
}

.empty-day {
  position: relative;
  background-color: rgb(160, 160, 160);
}

//a dive inside each day cell
//for extra styling options
div.days {
  //background-color: red;
  width: 25px;
  height: 25px;
  //font-size: 1em;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  text-align: center;

  &:hover {
    background-color: rgba(226, 53, 80, 0.3);
    //color: white;
  }

  &.selected {
    background-color: rgba(226, 53, 80, 0.3);
  }
}

#calendar-today .days {
  background-color: $red;
  color: white;
}

//style for friday and saturday are different
td.calendar-dates.sat {
  color: $red;
}
td.calendar-dates.fri {
  color: $blue;
}

//button styles
.btn-add {
  opacity: 0;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $red;
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: lighten($color: $red, $amount: 5%);
  }
}

//previus and next month buttons
//to navigate between months
.month-btn {
  position: absolute;
  width: 70px;
  height: 40px;
  background-color: $red;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  &:hover {
    background-color: lighten($color: $red, $amount: 5%);
  }

  span {
    padding: 0 0.1em;
    margin-top: 0.3em;
  }

  .arrow {
    margin-top: 0;
    font-size: 0.8em;
    color: white;
  }
  //previous month button
  &--previous {
    @extend .month-btn;
    top: 50vh;
    left: 4.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  //next month button
  &--next {
    @extend .month-btn;
    top: 50vh;
    right: 4.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &--save,
  &--cancel {
    color: $red;
    background-color: transparent;
    padding: 0.5em 1em;
    border: none;
    font-size: 0.9em;
    border-radius: 8px;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      background-color: $creame;
    }
  }
}

.add-item__countainer {
  position: fixed;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.add-item__countainer.show {
  transform: translateX(0);
}

.add-item__frame {
  background-color: $creame;
  border-radius: 20px;
  height: 500px;
  min-width: 400px;

  padding: 2em;
  text-align: center;
  position: relative;

  h1 {
    color: $white;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.add-item__form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  padding: 0.25em 0em;
  font-size: 0.8em;
  font-weight: 400;
  background-color: $creame;
  border-bottom: 2px solid $white;
  color: white;
  outline: none;
  margin-top: 1.5em;
  transition: all 0.4s ease-out;

  &:focus {
    background-color: $creame;
    border-bottom: 2px solid $red;
  }
  &:valid {
    background-color: $creame;
  }
}

.add-item__wraper {
  margin-top: 10em;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0em;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@mixin button-circle {
  padding: 0.6em 1em;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid silver;
  padding: 0.7em 1em;
  font-size: 0.6em;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  color: $gray;
  border-radius: 4px;
  margin-right: 2em;
  text-transform: capitalize;
  transition: background-color 0.125s;
  cursor: pointer;

  &--circle {
    @extend .button;
    @include button-circle;
    margin-right: 0.1em;
  }
  &--close {
    @extend .button;
    @include button-circle;
    margin-right: 0;
    font-size: 0.8em;
    width: 38px;
    height: 38px;
  }

  &:hover {
    background-color: rgb(221, 216, 216);
  }

  &:active {
    background-color: rgb(190, 188, 188);
  }
}

#btnOpenNotes {
  color: red;
}

/* Side Menu Styles */
//===================
.side-menu {
  padding: 0.5em;
  background-color: $creame;
}

/* Side panel styles */
//=====================
.side-panel {
  //position: absolute;
  display: none;
  width: 350px;
  background-color: $creame;
  box-shadow: rgba(0, 0, 0, 0.2) -1px -0px 4px;
}

.side-panel.active {
  display: block;
}

.side-panel__header {
  padding: 0.5em 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(218, 215, 215);

  h1 {
    font-size: 0.8em;
    color: $gray;
  }
}

.side-panel__body {
  background-color: $creame;
  padding: 1em;
  display: flex;
  flex-direction: column;

  * + * {
    margin-top: 1em;
  }

  p {
    font-size: 0.6em;
    line-height: 18px;
  }

  .title-date {
    text-align: left;

    .side-panel_date {
      font-size: 0.8em;
    }
  }
}

.todo__container {
  //background-color: aqua;
  padding: 0.5em 0;
}

.todo__empty {
  color: red;
  font-size: 0.8em;
  margin-top: 3em;
}

.todo__row {
  //background-color: red;
  margin-top: 0.5em;
}

.todo__label {
  font-size: 0.7em;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s linear;
}

.todo__label.checked {
  color: gray;
  text-decoration: line-through;
}
.todo__check {
  margin-right: 0.5em;
}
