// Color Pallete
$blue-dark: #131f4a;
$blue-medium: #5fa5ee;
$blue-light: #eef3f6;
$gray: #f3f4f5;
$gray-dark: #5c5c5c;
$white-text: #dae0e4;
$black: #060a22;
$border: #17356b;
$input-shadow: #d7e8fb;
$input-border: #bebebe;
$red: #e25c59;
$input-invalid-shadow: #f8d6d5;

// Layout Variables
$max-width: 1280px;
$border-radius: 4px;

// Breakpoints
$extra-small-screen: 0px;
$small-screen: 600px;
$medium-screen: 960px;
$large-screen: 1280px;
$extra-large-screen: 1920px;

// Transision
@mixin transition {
  transition: 0.3s ease-out;
}

// Media Queries
@mixin x-smal {
  @media screen and (min-width: $extra-large-screen) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: $small-screen) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $medium-screen) {
    @content;
  }
}

@mixin large {
  @media screen and(min-width:$large-screen) {
    @content;
  }
}

@mixin x-large {
  @media screen and (min-width: $extra-large-screen) {
    @content;
  }
}
