*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
