@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap");
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(90deg, rgba(230, 101, 135, 0.6) 0%, rgba(240, 148, 88, 0.6) 100%), url("../images/xbody-bg.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-gradient {
  background: linear-gradient(90deg, #e66587 0%, #f09458 100%);
}

.main-wrapper {
  color: white;
  height: 200vh;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 6em;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.fa {
  font-size: 20px;
}

.hero-small {
  font-size: 12px;
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 36px;
  color: white;
  font-weight: 500;
  margin: 10px 0 20px;
}

h3 {
  font-size: 24px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  font-weight: 300;
}

.section-hero {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.section-hero header .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
}
.section-hero .row {
  height: 600px;
}

header {
  position: relative;
}
header .container {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: -0.4px;
}

nav {
  transform: scale(0);
  margin-right: 70px;
  transform-origin: 100% 50%;
  transition: all 0.3s ease 0s;
}
nav a {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 25px;
  transition: all 0.3s ease 0s;
}
nav a:hover {
  color: rgb(255, 255, 255);
}

.btn {
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #fff;
  color: #222222;
  font-weight: 500;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.btn span {
  color: #fff;
}
.btn span:nth-child(1) {
  margin-right: 10px;
  font-size: 14px;
}

.btn-hero::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #e66587 0%, #f09458 100%);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.btn-hero:hover::after {
  opacity: 1;
}
.btn-hero:hover {
  border-color: transparent;
}

.btn-gradient {
  background-image: linear-gradient(90deg, #e66587 0%, #f09458 100%);
}

.arrow-right::before {
  content: "→";
}

/* menu-bar styles */
.menu-icon {
  flex-direction: column;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.menu-bar {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 2px 0;
  transition: all 0.3s ease 0s;
}

.menu-icon.open > .menu-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
}

.menu-icon.open > .menu-bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open > .menu-bar:nth-child(3) {
  transform: rotate(315deg) translate(5px, -3px);
}

nav.active {
  transform: scale(1);
}

.menu-icon.open {
  width: 23px;
}

.section-feature,
.section-widget {
  background-color: #fff;
  padding: 70px 0 80px;
}
.section-feature .container,
.section-widget .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.89em;
  padding: 0 1em;
  color: #222;
}
.section-feature h6,
.section-widget h6 {
  color: #222;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
}
.section-feature p,
.section-widget p {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 16px;
}
.section-feature .card,
.section-widget .card {
  gap: 1.6em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.section-feature .card .card-icon span::after,
.section-widget .card .card-icon span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: linear-gradient(90deg, #e66587 0%, #f09458 100%);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.section-feature .card:hover .card-icon > span::after,
.section-widget .card:hover .card-icon > span::after {
  opacity: 1;
}
.section-feature .card:hover span,
.section-widget .card:hover span {
  color: #fff;
}
.section-feature .card-icon,
.section-widget .card-icon {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid #eee;
  background: #fff;
  position: relative;
  transition: all 0.3s ease;
}
.section-feature .card-description,
.section-widget .card-description {
  flex: 1;
}
.section-feature .card span,
.section-widget .card span {
  display: flex;
  color: #f09458;
  z-index: 1;
}

.section-service {
  padding: 100px 0;
}
.section-service .container {
  max-width: 1140px;
  margin: 0 auto;
}
.section-service .header {
  text-align: center;
  margin-bottom: 30px;
}
.section-service .header span {
  font-size: 14px;
}
.section-service .service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.6em 0.16em;
  margin-top: 30px;
}
.section-service .service-item {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.section-service .service-item:hover .overlay {
  opacity: 1;
}
.section-service .item-header {
  position: relative;
  background-color: aqua;
}
.section-service .item-header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.section-service .item-body {
  margin-top: 30px;
}
.section-service h6 {
  margin-bottom: 10px;
}
.section-service img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
  margin: 0;
}

.section-works {
  padding: 100px 0 84px;
  background-color: #f9f9ff;
}
.section-works .container {
  max-width: 1140px;
  margin: 0 auto;
}
.section-works .header {
  text-align: center;
  margin-bottom: 30px;
}
.section-works h3 {
  color: #222;
}
.section-works span {
  font-size: 14px;
  color: #777;
}

.carousel {
  width: 100%;
  height: 450px;
  margin-top: 3em;
}
.carousel h6 {
  margin-top: 0.5em;
  color: black;
  text-transform: uppercase;
}
.carousel p {
  color: #777;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 0.5em;
}
.carousel .carousel-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap;
  overflow: hidden;
  transition: all 0.5s ease;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  position: relative;
}
.carousel .slide {
  flex: none;
  width: 50%;
  margin: 0 3em;
  height: 320px;
  scroll-snap-align: center;
  background-image: url("../images/slide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.carousel .slide div {
  position: absolute;
  bottom: -8.5em;
  width: 100%;
  height: 35%;
  display: none;
  text-align: center;
}
.carousel .slide:nth-child(1) {
  margin-left: -34%;
}
.carousel .slide.active div {
  display: block;
}

.dot-container {
  margin-top: 2.3em;
  padding: 1em;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
}
.dot-container::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgb(245, 240, 240);
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.dot-container .dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(245, 240, 240);
  margin: 0 50px;
  z-index: 2;
  cursor: pointer;
}
.dot-container .dot.active {
  background-color: #e66587;
}

.section-story {
  padding: 90px 0;
  position: relative;
  z-index: 1;
}
.section-story .row {
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 15px;
  z-index: 3;
}
.section-story .story-title {
  width: 25%;
  padding: 0 15px;
}
.section-story .story-box {
  padding: 60px 90px;
  width: 46.5%;
  background-color: white;
}
.section-story .story-box h6 {
  color: #222;
  margin-bottom: 15px;
}
.section-story .story-box p {
  color: #777;
  margin-bottom: 16px;
}
.section-story .story-box a {
  padding: 8px 30px;
}
.section-story::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url("../images/story-bg.jpg.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.section-subscribe {
  padding: 100px 0;
  background-color: white;
}
.section-subscribe .container {
  max-width: 1140px;
  margin: 0 auto;
}
.section-subscribe .header {
  text-align: center;
  margin-bottom: 30px;
}
.section-subscribe h3 {
  color: #222;
}
.section-subscribe p {
  color: #777;
}
.section-subscribe a {
  color: white;
  position: absolute;
  right: 1.25em;
}
.section-subscribe .form-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.section-subscribe input {
  padding: 0 184px 0 25px;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #f9f9ff;
  color: #777;
  font-size: 14px;
  width: 100%;
}

.section-widget {
  padding: 70px 0 100px;
  background-color: transparent;
}
.section-widget .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.89em;
  padding: 0 1em;
  color: #222;
}
.section-widget .card {
  margin-top: 30px;
}
.section-widget .card:hover .card-icon {
  border-color: transparent;
}
.section-widget h6 {
  color: white;
}
.section-widget p {
  color: white;
  font-weight: 400;
}
.section-widget .card-icon {
  background-color: transparent;
}
.section-widget .card-icon span {
  color: white;
}

footer {
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.25);
}
footer .container {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
footer .copyright {
  font-weight: 400;
  font-size: 14px;
}
footer .copyright a,
footer .copyright i {
  color: #e66587;
  font-weight: 300;
  font-size: 14px;
}
footer .footer-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  line-height: 30px;
  color: white;
  position: relative;
  z-index: 1;
}
footer .footer-social a::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #e66587 0%, #f09458 100%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
footer .footer-social a:hover::after {
  opacity: 1;
}
footer .footer-social a:hover {
  border: none;
}
footer .footer-social a i {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */