@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap);
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --text-gray: #6a7179;
  --blue: #0073fb;
  --black: #1a1d22;
  --gray: #f5f6f8;
  --text-silver: #d2def6;
  --white: #f6f8fa;
  --space-1: 1px;
  --space-2: 2px;
  --space-3: 3px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
  background-color: var(--gray);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.test {
  color: #f8f190 ",
  rgb(241, 151, 171)", #94c9ec ",
  rgb(159, 238, 238)",
    #bca3ee ",
  rgb(243, 209, 176)";
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  align-items: center;
  background-color: #1a1d22;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}
.App-link {
  color: #61dafb;
}
.main {
  background-color: var(--black);
  padding: 3rem 5rem 10rem;
}
section {
  padding: 3rem 5rem;
}
.charts_container {
  grid-gap: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  margin-top: -8rem;
}
.chart {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
  height: 475px;
  padding: 2em;
  text-align: left;
}
.chart .header {
  background-image: linear-gradient(90deg, #d1d5da 50%, hsla(0, 0%, 100%, 0) 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  color: #24292f;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 1.5rem;
  padding-bottom: 6px;
  text-transform: capitalize;
}
.chart p {
  color: #586069;
  margin: 16px 0;
}
footer {
  padding: 3rem;
}
.footer-container {
  color: #586069;
  font-size: 0.9rem;
  font-weight: 700;
}
footer .footer_list,
footer .footer_list_item {
  display: inline-block;
}
footer .footer_list {
  margin: 0 0.5rem;
}
footer .footer_list_item:not(:first-child):before {
  content: "\00bb";
  margin: 0 0.5rem;
}
footer a {
  color: var(--blue);
}
.github_user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile_avatar {
  height: 150px;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 150px;
}
.profile_image {
  border: 8px solid var(--blue);
  border-radius: 50%;
  width: 100%;
}
.profile_name {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.profile_login {
  color: var(--blue);
  font-family: Courier New, Courier, monospace;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.date_wrapper {
  color: var(--text-silver);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.25em 1em 1em;
}
.info {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 16px 8px;
}
.profile_location {
  text-transform: uppercase;
}
.profile_brief {
  grid-gap: 8px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  margin-top: 1em;
}
.card {
  background-color: hsla(0, 0%, 100%, 0.04);
  border-radius: 4px;
  padding: 1em;
  text-transform: uppercase;
}
.number {
  color: var(--white);
  font-size: 1.5rem;
}
.label,
.number {
  font-weight: 400;
}
.label {
  color: rgba(200, 225, 255, 0.7);
  font-size: 0.75rem;
  margin-top: 1em;
}
.space-1 {
  letter-spacing: var(--space-1);
}
.space-2 {
  letter-spacing: var(--space-2);
}
.space-3 {
  letter-spacing: var(--space-3);
}
.capitalized {
  text-transform: capitalize;
}
header {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  text-align: left;
}
header span {
  margin: 0 1rem;
}
.repos ul {
  grid-gap: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style-type: none;
}
.repo {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.repo span {
  color: #586069;
  font-size: 0.8rem;
}
.repo_top {
  margin-bottom: 2rem;
}
.repo_bottom {
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}
h2 {
  background-image: linear-gradient(90deg, #d1d5da 50%, hsla(0, 0%, 100%, 0) 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  color: #24292f;
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
  padding-bottom: 6px;
  text-transform: capitalize;
}
p.info {
  color: #586069;
  margin: 16px 0;
}
h3 {
  font-size: 16px;
  font-weight: 600;
}
.lang_color {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 0.25rem;
  width: 10px;
}
.search-form_container {
  align-items: center;
  background-color: #061e22;
  background-image: linear-gradient(#1a1e22, #24292e);
  display: flex;
  height: 100vh;
  justify-content: center;
}
form {
  color: var(--white);
  margin-bottom: 20vh;
  padding: 2rem;
  text-align: center;
}
input,
label {
  display: block;
}
label {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem;
  text-transform: capitalize;
}
input {
  background-color: #26303c;
  border: 0;
  border-radius: 4px;
  color: #79b8ff;
  font-family: Courier New, Courier, monospace;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 auto;
  max-width: 600px;
  outline: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=main.cddf5e84.css.map*/
