@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.max-width {
  max-width: 1280px;
}

header {
  width: 100%;
  padding: 16px 0;
  background-color: #131f4a;
  box-shadow: 0 10px 1px #060a22;
  border-bottom: 1px solid #17356b;
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
}

.centered {
  margin: 0 auto;
}

.topnav {
  margin-left: auto;
}
.topnav span {
  color: #dae0e4;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .topnav span {
    display: none;
  }
}
.topnav li {
  display: inline;
  margin: 0 6px;
}
.topnav a {
  color: #dae0e4;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #dae0e4;
  padding: 6px 15px;
  border-radius: 4px;
  transition: 0.3s ease-out;
}
.topnav a:hover {
  background-color: #5fa5ee;
  border-color: #5fa5ee;
}

main {
  margin-top: 10px;
  background-color: #eef3f6;
}

h1 {
  text-align: center;
  margin: 0 1em 1em;
  font-weight: 500;
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#multiPageForm {
  width: 45%;
  padding: 40px;
  margin: 100px auto;
  min-width: 300px;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  color: #131f4a;
  border-radius: 4px;
}

p {
  margin: 1em 0 1.8em 0;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bebebe;
  font-size: 17px;
  color: #5c5c5c;
  border-radius: 4px;
}
input.invalid {
  border-color: #e25c59;
}
input.invalid + .error {
  display: block;
}
input:active, input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #d7e8fb;
  border-color: #5fa5ee;
}
input:active.invalid, input:focus.invalid {
  outline: none;
  box-shadow: 0 0 0 2px #f8d6d5;
  border-color: #e25c59;
}

::-webkit-input-placeholder {
  color: #bbbbbb;
}

.tab {
  display: none;
  font-weight: 600;
}

.button-container {
  float: right;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

button {
  background-color: #5fa5ee;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-out;
}
button:hover {
  background-color: #318be9;
}
button:focus {
  box-shadow: 0 0 0 2px #d7e8fb;
}

#previous {
  background-color: #bbbbbb;
}

.step-container {
  margin-top: 40px;
  text-align: center;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #5fa5ee;
  opacity: 1;
}

.error {
  display: none;
  color: #e25c59;
  font-weight: 600;
  font-size: 14px;
  margin-top: 0.3rem;
}/*# sourceMappingURL=index.css.map */